<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin:0; padding: 0;">
    <div class="content" style=" width:100%; max-width: 1100px; margin:auto;">
        <div style="text-align: center;">
            <img src="https://freewayscubadiving.com/images/logo.png" style=" display:inline-block; height:100px; ">
        </div>
        <hr style="border-width:1px;"></hr>
        <p style=" font-size:30px;font-weight:bold; margin-top:30px;">Hello, {{name}}👋 </p>
        <p style="font-size:18px; margin-bottom: 30px;">Here are the details of your reservation:</p>
        <p style="font-size:18px;"><b>Full Name: </b> {{name}} {{lastName}} </p>
        <p style="font-size:18px;"><b>Phone: </b> {{code}} {{phone}} </p>
        <p style="font-size:18px;"><b>Email: </b> {{email}} </p>
        <p style="font-size:18px;"><b>Activity: </b> {{activity}} </p>
        <p style="font-size:18px;"><b>Diving: </b> {{divingActivity}}{{divingCourse}}{{tour}} </p>
        <p style="font-size:18px;"><b>Date: </b> {{date}} </p>
    </div>
    <div style="text-align: center;">
        <img src="https://freewayscubadiving.com/images/divider.png" style="width:100% ">
    </div>

</body>
</html>

